<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <script src="https://kit.fontawesome.com/a74266306a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!-- Header -->
    <header>
        <nav>
            <div class="logo logo-dashboard">
                <a href="/">
                    <img src="/img/logoipsum-289.svg" alt="">
                </a>

                <h2>Welcome Admin <%= admin.Name %>
                </h2>
            </div>
            <form id="searchForm" action="/api/admin/users" >
                <input id="searchUser" type="text" placeholder=" Search user" name="email">
                <button class="searchUser-btn" type="submit"><i
                        class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <ul class="nav-links">

 
                
                <li><a href="/api/admin/users">Users</a></li>
                <li><a href="/api/admin/logout">Logout</a></li>
            </ul>
        </nav>
    </header>