<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website</title>
    <script src="https://kit.fontawesome.com/a74266306a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <!-- Header -->
    <header>
        <nav>
            <div class="logo">
                <a href="/">
                    <img class="logo" src="/img/logoipsum-289.svg" alt="">
                </a>
            </div>

            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About us</a></li>
                <li><a href="/contactUs">Contact us</a></li>
                <li><a href="/api/user/signup">Signup</a></li>
                <li class="dropdown-container">
                    <a href="/">Login</a>
                    <ul class="dropdown-content">
                        <li><a href="/api/user/login">User Login</a></li>
                        <li><a href="/api/admin/login">Admin Login</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>