<%- include("./partials/header.ejs") %>
<main>
</section>
<section class="custom-box-section">
    <section class="custom-box">
        <img src="/img/johnDoe.png" alt="Profile Picture" width="100px" height="100px">
        <h2>John Doe</h2>
        <p>Web Developer</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.</p>

        <div class="company-section">
            <h3>About Our Company</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tristique est in sapien tincidunt, a
                ultrices felis consectetur.</p>
        </div>
        </div>
    </section>
</section>
    

    <!-- Custom message -->
    <section class="custom-box-section">
        <div class="custom-box">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo quos, incidunt maxime accusantium, ullam
                ratione nobis nam odit dignissimos ipsum minus eligendi odio saepe? Soluta perferendis esse ex unde
                quidem dolores deserunt repudiandae atque dolore assumenda fugit, vero deleniti eos repellat. Ratione
                amet, laborum hic eveniet a facere cum reprehenderit at facilis sapiente harum impedit nemo officia quo
                autem? Aliquam, eaque doloribus dicta similique, voluptatum rerum placeat architecto consequatur vel ab
                cupiditate iure delectus nulla voluptas qui porro? Nulla dolorem blanditiis facilis. Mollitia dolore
                quis possimus fugiat tempore non aperiam voluptatum nulla sequi nostrum perspiciatis a minima et, cum
                similique illo obcaecati aspernatur asperiores facilis ex dolorum nobis, hic eligendi. Ad exercitationem
                rem possimus accusamus, aut reiciendis in sunt delectus, quam deleniti dignissimos sint vel illum, omnis
                doloribus similique cum porro ipsam cumque expedita obcaecati. Optio, odit fuga voluptas provident cum
                delectus pariatur eius numquam similique deserunt, minima autem? Tenetur autem corrupti minima velit
                labore debitis libero, saepe quis aut accusamus sed nemo quaerat repellendus obcaecati inventore vel
                molestiae culpa at ipsam modi fugiat soluta deleniti omnis! Quis illum velit eligendi neque architecto!
                Harum officiis, ducimus maxime nulla saepe eveniet expedita nesciunt, quos earum sed magnam maiores
                repellendus pariatur natus totam repudiandae nostrum cum nihil distinctio aut consequuntur? Ad officiis
                fugit adipisci voluptatum vero excepturi dolorem, impedit minus assumenda amet et nulla dolorum
                cupiditate facere sint consequatur praesentium aut pariatur natus, aspernatur libero quae distinctio
                consequuntur? Repudiandae illo odio eum cumque totam saepe animi exercitationem obcaecati unde nisi
                facere, maxime cum laborum sequi veritatis dignissimos eos possimus ipsam, dolorum perspiciatis placeat
                tenetur distinctio! Magnam nam explicabo nesciunt, porro maxime hic deleniti fugit corporis vitae velit.
                Dignissimos dolorem mollitia incidunt nisi totam inventore. Architecto, assumenda vero. Harum esse
                commodi sunt obcaecati officia veritatis, dignissimos laudantium pariatur nesciunt quibusdam, facilis
                magnam, doloremque fuga ipsa corporis maiores consequuntur? Temporibus veritatis ullam, tempora voluptas
                unde ea aliquid odit dicta quod ex officia reiciendis tenetur dolor maxime rerum odio voluptate minus
                quos atque quasi voluptatum facilis! Libero at reiciendis distinctio, voluptate facere quis
                necessitatibus. Modi voluptatibus aliquid adipisci in exercitationem corporis quo ipsa, earum omnis
                fugiat ut ullam architecto, cumque obcaecati eligendi vel sapiente delectus nemo minima. Quisquam
                voluptatem distinctio quos non error molestias ex rem at aperiam nemo! Quaerat nesciunt minus explicabo
                facere cupiditate cumque tenetur eum recusandae. Facilis eius, laboriosam harum expedita sint, dicta
                ipsum itaque, necessitatibus quisquam quidem deleniti obcaecati officiis maxime!</p>
        </div>
    </section>
</main>
    <%- include("./partials/footer.ejs") -%>