<%- include("./partials/adminHeader.ejs",{title:'Admin Dashboard', admin}) -%>

    <!-- Testimonials -->
    <main>
    <section class="align">
        <section class="testimonial-section">
            <div class="testimonial-container">
                <div class="testimonial">
                    <p>"I'm so pleased with the service provided by Your Company. The team is incredible, and the
                        results
                        exceeded my expectations." <br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui
                        omnis atque itaque nostrum ipsam corporis ipsa esse ad, accusantium, id rem fugit nobis
                        molestias! Sed qui dolor officiis, fuga necessitatibus maxime alias quod quibusdam autem dolorem
                        inventore at error aperiam, quo fugiat distinctio aut ea recusandae ipsa temporibus est beatae,
                        quis asperiores? Repudiandae aut reiciendis impedit temporibus at animi magnam? Incidunt numquam
                        error at, reprehenderit expedita nostrum asperiores ipsum earum pariatur, consequatur ducimus,
                        in temporibus nobis debitis quod hic neque nisi itaque libero nam odit! Laudantium accusamus
                        suscipit sequi perferendis minima. Repellendus quas odio temporibus possimus iste cumque magni
                        consectetur debitis neque voluptatum id doloribus praesentium reprehenderit, vel quaerat? Totam
                        quasi nulla impedit veniam, atque tenetur aperiam sapiente consequuntur voluptatibus dolorum
                        laudantium. Officia dolore, voluptates alias quisquam est voluptatibus animi quo debitis
                        doloremque corrupti provident sapiente. Illo, dolorum excepturi laboriosam neque nobis accusamus
                        veritatis velit tempora autem ad laudantium ea voluptate at! Delectus eveniet sed quia
                        consequatur sint dolorum placeat cumque officia culpa impedit animi excepturi ea facilis quam
                        eos tempore obcaecati hic nam, itaque assumenda quos at ad. Magni iste placeat nisi dolor eius,
                        error sequi provident consequatur, quam accusantium ab porro tenetur amet architecto repudiandae
                        nostrum neque mollitia!</p>
                    <p class="testimonial-author">John Doe</p>
                </div>
                <div class="testimonial">
                    <p>"The quality of the products and the level of professionalism are unmatched. I highly recommend
                        Your
                        Company to anyone looking for top-notch services."</p>
                    <p class="testimonial-author">Jane Smith</p>
                </div>
            </div>
        </section>

    </section>
</main>

    <%- include("./partials/footer.ejs") -%>