<%- include("./partials/header.ejs") %>
<main>
        
    <section class="custom-box-section">

        <div class="custom-box">
            <h3>Feel free to call</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tristique est in sapien tincidunt, a
                ultrices felis consectetur.</p>
        </div>
    </section>

    <section class="custom-box-section">

            <div class="custom-box">
                <h3>Contact Us</h3>
                <p>Feel free to reach out to us for any inquiries or collaboration opportunities.</p>

                <div class="custom-box">
                    <strong>Email:</strong>
                    <p>info@example.com</p>

                    <strong>Phone:</strong>
                    <p>+1 (123) 456-7890</p>

                    <strong>Address:</strong>
                    <p>123 Main Street, Cityville, Country</p>
                </div>
            </div>
    </section>
</main>
    <%- include("./partials/footer.ejs") -%>