<%- include("./partials/header.ejs") %>
    <main>

        <!-- Custom message -->
        <section class="custom-box-section">
            <div class="custom-box">
                <p>"Login to your specified roles"</p>
            </div>
        </section>

        <!-- Cards -->
        <section class="cards-section">
            <h2>Our Clients</h2>
            <div class="cards-container">
                <div class="card">
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed
                        cursus ante dapibus diam."</p>
                    <p class="card-author">John Doe</p>
                </div>
                <div class="card">
                    <p>"Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Donec rutrum congue leo eget
                        malesuada."</p>
                    <p class="card-author">Jane Smith</p>
                </div>
                <div class="card">
                    <p>"Vivamus suscipit tortor eget felis porttitor volutpat. Nulla porttitor accumsan tincidunt."</p>
                    <p class="card-author">Alice Johnson</p>
                </div>
            </div>
        </section>

        <!-- Testimonials -->
        <section class="testimonial-section">
            <div class="testimonial-container">
                <div class="testimonial">
                    <p>"I'm so pleased with the service provided by Your Company. The team is incredible, and the
                        results
                        exceeded my expectations."</p>
                    <p class="testimonial-author">John Doe</p>
                </div>
                <div class="testimonial">
                    <p>"The quality of the products and the level of professionalism are unmatched. I highly recommend
                        Your
                        Company to anyone looking for top-notch services."</p>
                    <p class="testimonial-author">Jane Smith</p>
                </div>
            </div>
        </section>
    </main>

    <%- include("./partials/footer.ejs") -%>